<div style="background-color:#333;height:auto;">
  <app-navbar></app-navbar>
  <div class="scroll-container">
  <section class="d-flex align-items-center ">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <br>
      <table class="table table-striped" *ngIf="orders && orders.length > 0">
        <thead>
          <tr>
            <th>Index</th>
            <th>Image</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>SubTotal</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let order of orders; let i = index">
            <ng-container *ngFor="let item of order.itemsObj; let j = index">
              <tr>
                <td>{{ i * order!.itemsObj!.length + j + 1 }}</td>
                <td><img [src]="item.image" class="tableimg" alt="Order Image"></td>
                <td>{{ item.name }}</td>
                <td>{{ item.price | currency }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{item.totalprice | currency}}</td>
              </tr>
            </ng-container>
          </ng-container>
          <tr>
            <td colspan="4"></td>
            <td><strong>Total:</strong></td>
            <td>{{ orders[0]!.totalPrice | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
</div>