<!-- <div >
<app-navbar></app-navbar>
</div> -->
<div class="wrapper ">
  <section id="hero" class="d-flex align-items-center">
      <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-8">
            <h1>Welcome to <span>be3ly</span></h1>
            <h2>Delivering great products for more than 18 years!</h2>
  
            <div class="btns">
              <a  routerLink="/login" *ngIf="!authorized.isAuthorized" class="btn-menu animated fadeInUp scrollto">Sign In </a>
              <a routerLink="/signup" *ngIf="!authorized.isAuthorized" class="btn-book animated fadeInUp scrollto">Sign Up</a>          </div>
          </div>
  
        </div>
      </div>
    </section>
    <br>
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Gallery</h2>
          <p>Some photos from Our products</p>
        </div>
        
      </div>
      <div data-aos="fade-up">
   <!-- gallery -->
   <div class="containergallery">
    <div class="box">
      <img src="../../../assets/img/gallery/gallery-1.jpg">
  
    </div>
    <div class="box">
      <img src="../../../assets/img/gallery/gallery-2.jpg">
     
    </div>
    <div class="box">
      <img src="../../../assets/img/gallery/gallery-3.jpg">
      
    </div>
    <div class="box">
      <img src="../../../assets/img/gallery/gallery-4.jpg">
    
    </div>
   <div class="box">
      <img src="../../../assets/img/gallery/gallery-5.jpg">
    </div>
  
  </div>
      </div>
      
    </section>
    
    <app-footer></app-footer>
  </div>